@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

html body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #000;
}

html body header {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1000;
  padding: 0 70px;
}

html body header .logo {
  width: 120px;
  height: 53px;
  margin-top: 33.5px;
}

html body header .logo img {
  width: 120px;
  height: 100%;
}

html body header nav {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

html body header nav .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

html body header nav .gnb li {
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

html body header nav .gnb li .submenu {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header nav .gnb li .submenu li {
  font-size: 14px;
  text-align: center;
  margin: 0 15px;
  font-weight: 500;
}

html body header nav .gnb .menu-hover:hover .submenu {
  opacity: 1;
}

html body header nav .gnb .submenu li:hover a {
  color: rgba(255, 255, 255, 0.42);
}

html body header .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  margin-left: 80px;
}

html body header .language li {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}

html body header .language li:hover {
  color: rgba(255, 255, 255, 0.42);
}

html body header .language li::after {
  content: "|";
  font-weight: 200;
  padding: 0 10px;
  color: #fff;
}

html body header .language li:last-child::after {
  content: "";
  padding: 0;
}

html body #visual {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/business/visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}

html body #visual .visual-txt {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body #visual .visual-txt h1 {
  padding: 0 360px;
  font-size: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

html body #visual .visual-txt h1 span {
  font-weight: 600;
}

html body #main #business {
  height: 100vh;
  position: relative;
}

html body #main #business .pixel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  position: relative;
}

html body #main #business .pixel .color-blue {
  background-color: #0000FF;
  display: block;
  width: 74px;
  height: 74px;
  position: absolute;
  top: 140px;
  right: 30px;
}

html body #main #business .pixel .color-white {
  background-color: #fff;
  width: 74px;
  height: 74px;
  display: block;
  position: absolute;
  top: 214px;
  right: 104px;
}

html body #main #business .business-txt {
  position: absolute;
  color: #fff;
  height: 50vh;
  margin-left: 360px;
  top: 25%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

html body #main #business .business-txt h2 {
  font-size: 44px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body #main #business .business-txt p {
  font-size: 22px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

html body #main #business .img-box {
  position: absolute;
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
}

html body #main #business .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 82%;
     object-position: center 82%;
}

html body #main #top-btn {
  color: #fff;
  font-size: 30px;
  position: fixed;
  bottom: 5%;
  right: 3%;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0 16px 5px;
}

html body #main #top-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

html body #main #theme {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  padding: 200px;
  /* #Slider
                ================================================== */
  /* Case Study Showcase
                ================================================== */
}

html body #main #theme .cursor,
html body #main #theme .cursor2,
html body #main #theme .cursor3 {
  position: fixed;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
}

html body #main #theme .cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}

html body #main #theme .cursor2.hover,
html body #main #theme .cursor3.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}

html body #main #theme .cursor2 {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

html body #main #theme .cursor2.hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

html body #main #theme .section {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100vh;
  background-color: #212121;
}

html body #main #theme .case-study-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
}

html body #main #theme .case-study-wrapper .case-study-name a {
  position: relative;
  list-style: none;
  margin: 0;
  display: block;
  text-align: center;
  padding: 0;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #8e8d9a;
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

html body #main #theme .case-study-wrapper .case-study-name a:hover {
  text-decoration: none;
}

html body #main #theme .case-study-wrapper .case-study-name.active a {
  opacity: 1;
  color: #fff;
}

html body #main #theme .case-study-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 2;
}

html body #main #theme .case-study-images li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

html body #main #theme .case-study-images li .img-hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

html body #main #theme .case-study-images li.show .img-hero-background {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

html body #main #theme .case-study-images li .case-study-title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: block;
  opacity: 0;
  color: #fff;
  z-index: 19;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  font-style: italic;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

html body #main #theme .case-study-images li.show .case-study-title {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

html body #main #theme .case-study-images li .hero-number-back {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  list-style: none;
  opacity: 0;
  font-size: 18vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  line-height: 1;
  color: rgba(255, 255, 255, 0.12);
  z-index: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

html body #main #theme .case-study-images li .hero-number {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 40px;
  margin-left: -70px;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  list-style: none;
  opacity: 0;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  z-index: 6;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

html body #main #theme .case-study-images li .hero-number-fixed {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: 30px;
  width: 40px;
  text-align: center;
  display: block;
  letter-spacing: 2px;
  list-style: none;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  z-index: 6;
}

html body #main #theme .case-study-images li .hero-number-fixed:before {
  position: absolute;
  content: '';
  top: 50%;
  left: -60px;
  width: 60px;
  height: 1px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

html body #main #theme .case-study-images li.show .hero-number {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

html body #main #theme .case-study-images li.show .hero-number-back {
  opacity: 1;
}

html body #main #theme .dark-over-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #050505;
  opacity: 0.2;
}

html body #main #theme .case-study-images li:nth-child(1) .img-hero-background {
  background-image: radial-gradient(rgba(0, 0, 0, 0), black), url("../images/ourStory/grid-1.png");
}

html body #main #theme .case-study-images li:nth-child(2) .img-hero-background {
  background-image: radial-gradient(rgba(0, 0, 0, 0), black), url("../images/ourStory/grid-2.png");
}

html body #main #theme .case-study-images li:nth-child(3) .img-hero-background {
  background-image: radial-gradient(rgba(0, 0, 0, 0), black), url("../images/ourStory/grid-3.png");
}

html body #main #theme .case-study-images li:nth-child(4) .img-hero-background {
  background-image: radial-gradient(rgba(0, 0, 0, 0), black), url("../images/ourStory/grid-4.png");
}

html body footer {
  height: 300px;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

html body footer .footer-wrap {
  padding: 0 70px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

html body footer .footer-wrap span {
  text-transform: uppercase;
  cursor: pointer;
  line-height: 2;
  margin-left: 15px;
}

html body footer .footer-wrap span:hover {
  text-decoration: underline;
}

html body footer .footer-wrap i {
  font-size: 35px;
  color: red;
}
