body #main .slider {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

body #main .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

body #main .slider .slide .video-box {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

body #main .slider .slide .video-box video {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  -o-object-fit: cover;
     object-fit: cover;
}

body #main .slider .slide .content {
  position: absolute;
  top: 50%;
  left: 700px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 1000px;
  color: #fff;
  padding: 35px;
  border-radius: 15px 50px;
}

body #main .slider .slide .content h1 {
  letter-spacing: 1px;
  font-size: 56px;
  font-weight: 300;
  line-height: 1.1;
}

body #main .slider .slide .content h1 span {
  font-weight: 600;
}

body #main .slider .slide .btns {
  color: #fff;
  text-transform: uppercase;
  z-index: 100;
  font-size: 17px;
  letter-spacing: 1.5px;
  font-family: 'Poppins', sans-serif;
}

body #main .slider .slide .btns .prev-btn {
  position: absolute;
  left: 0;
  top: 52%;
  margin-left: 40px;
  text-align: center;
  width: 100px;
  font-weight: 500;
}

body #main .slider .slide .btns .next-btn {
  position: absolute;
  right: 0;
  top: 52%;
  margin-right: 40px;
  text-align: center;
  width: 100px;
  font-weight: 500;
}

body #main .slider .current {
  opacity: 1;
}

body #main .slider .current .content {
  opacity: 1;
}

body #main .buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #2b2a2a;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  margin: 0 70px;
}

body #main .buttons button:hover {
  background-color: #fff;
}

body #main .buttons button:hover i {
  color: #111;
}

body #main .buttons #next {
  position: absolute;
  top: 48%;
  right: 0;
  color: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

body #main .buttons #prev {
  position: absolute;
  top: 48%;
  left: 0;
  color: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
