@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

html body {
  font-family: Segma;
  background-color: #000;
}

html body header {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1000;
  padding: 0 3vw;
}

html body header .logo {
  width: 8vw;
  height: 6vh;
  margin-top: 33.5px;
}

html body header .logo img {
  width: 100%;
  height: 100%;
}

html body header nav {
  font-family: Segma;
  width: 100%;
}

html body header nav .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  height: 35px;
  line-height: 35px;
  margin-top: 42.5px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

html body header nav .gnb li {
  color: #fff;
  font-size: 1.3vw;
  text-align: center;
  font-weight: bold;
}

html body header nav .gnb li a {
  display: block;
}

html body header nav .gnb li .submenu {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header nav .gnb li .submenu li {
  font-size: 0.9vw;
  text-align: center;
  margin: 0 8px;
  font-weight: 500;
}

html body header nav .gnb li .submenu li a {
  display: block;
}

html body header nav .gnb .gnb-hover:hover a {
  color: rgba(255, 255, 255, 0.42);
}

html body header nav .gnb .menu-hover:hover .submenu {
  opacity: 1;
}

html body header nav .gnb .submenu li:hover a {
  color: rgba(255, 255, 255, 0.42);
}

html body header .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  margin-left: 80px;
}

html body header .language li {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}

html body header .language li:hover {
  color: rgba(255, 255, 255, 0.42);
}

html body header .language li::after {
  content: "|";
  font-weight: 200;
  padding: 0 10px;
  color: #fff;
}

html body header .language li:last-child::after {
  content: "";
  padding: 0;
}

html body footer {
  height: 300px;
  background-color: #000;
  font-family: Segma;
  font-size: 16px;
}

html body footer .footer-wrap {
  padding: 0 70px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

html body footer .footer-wrap span {
  text-transform: uppercase;
  cursor: pointer;
  line-height: 2;
  margin-left: 15px;
}

html body footer .footer-wrap span:hover {
  text-decoration: underline;
}

html body footer .footer-wrap a {
  width: 45px;
  height: 31px;
}

html body footer .footer-wrap a img {
  width: 100%;
  height: 100%;
}

html body #top-btn {
  color: #fff;
  font-size: 30px;
  position: fixed;
  bottom: 5%;
  right: 3%;
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 0 16px 5px;
  z-index: 999;
}

html body #top-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
