html body #visual {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/whatWeDo/visual.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: YoonGothicPro770;
  position: relative;
}

html body #visual .visual-txt {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body #visual .visual-txt h1 {
  padding: 0 360px;
  font-size: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body #main {
  width: 100vw;
  max-width: 100%;
}

html body #main #my {
  position: relative;
  height: 100vh;
  width: 100%;
}

html body #main #my .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

html body #main #my .txt-box h1 {
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  text-transform: uppercase;
  font-size: 260px;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800;
}

html body #main #my .txt-box .color-blue {
  background-color: #0000ff;
  width: 74px;
  height: 74px;
}

html body #main #my .txt-box .color-white {
  background-color: #fff;
  width: 74px;
  height: 74px;
}

html body #main #my .blue-1 {
  margin-top: 230px;
}

html body #main #my .blue-2 {
  margin-top: 300px;
}

html body #main #my .blue-3 {
  margin-right: 150px;
}

html body #main #my .blue-4 {
  margin-top: 230px;
}

html body #main #my .blue-5 {
  margin-top: 230px;
}

html body #main #my .white-1 {
  margin-top: 304px;
}

html body #main .my-me h1 {
  background-image: url(../images/whatWeDo/myMe.png);
}

html body #main .my-space h1 {
  background-image: url(../images/whatWeDo/mySpace.png);
}

html body #main .gallery .txt-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #main .gallery h1 {
  background-image: url(../images/whatWeDo/gallery.png);
  height: 300px;
  line-height: 200px;
}

html body #main .world h1 {
  background-image: url(../images/whatWeDo/gallery.png);
}

html body #main .market h1 {
  background-image: url(../images/whatWeDo/gallery.png);
}

html body #main #my-me-container {
  height: 100vh;
  position: relative;
  width: 100%;
}

html body #main #my-me-container .img-box {
  width: 100vw;
  height: 50vh;
  max-width: 100%;
  overflow: hidden;
}

html body #main #my-me-container .img-box img {
  width: 150%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 35%;
     object-position: center 35%;
}

html body #main #my-me-container .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

html body #main #my-me-container .txt-box h1 {
  background-image: url(../images/whatWeDo/myMe.png);
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  text-transform: uppercase;
  font-size: 262px;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800;
}

html body #main #my-me-container .grid-container {
  display: -ms-grid;
  display: grid;
  position: relative;
}

html body #main #my-me-container .grid-container .image-grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[50];
      grid-template-columns: repeat(50);
  -ms-grid-rows: ()[50];
      grid-template-rows: repeat(50);
  width: 193px;
  height: 193px;
  top: -120px;
  left: 5%;
}

html body #main #my-me-container .grid-container .image-grid .image-grid__item {
  width: 193px;
  height: 193px;
}

html body #main #my-me-container .grid-container .image-grid img {
  width: 100%;
  height: 100%;
  will-change: transform;
  -o-object-fit: cover;
     object-fit: cover;
}

html body #main #my-me-container .grid-container .image-grid .pos-2,
html body #main #my-me-container .grid-container .image-grid .pos-5,
html body #main #my-me-container .grid-container .image-grid .pos-6 {
  background-color: #fff;
}

html body #main #my-me-container .grid-container .image-grid__item {
  opacity: 1;
  position: relative;
}

html body #main #my-me-container .grid-container .image-grid .pos-1 {
  -ms-grid-row: 1;
  grid-area: 1;
}

html body #main #my-me-container .grid-container .image-grid .pos-2 {
  -ms-grid-row: 2;
  grid-area: 2;
}

html body #main #my-me-container .grid-container .image-grid .pos-3 {
  -ms-grid-row: 2;
  grid-area: 2;
}

html body #main #my-me-container .grid-container .image-grid .pos-4 {
  -ms-grid-row: 3;
  grid-area: 3;
}

html body #main #my-me-container .grid-container .image-grid .pos-5,
html body #main #my-me-container .grid-container .image-grid .pos-6 {
  -ms-grid-row: 3;
  grid-area: 3;
}

html body #main #my-me-container .content {
  color: #fff;
  position: absolute;
  top: 72%;
  left: 40%;
}

html body #main #my-me-container .content h2 {
  font-size: 40px;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

html body #main #my-me-container .content .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-family: YoonGothicPro770;
}

html body #main #my-me-container .content .content-wrap p {
  font-size: 28px;
}

html body #main #my-me-container .content .content-wrap button {
  width: 78px;
  height: 78px;
  margin-top: 35px;
  cursor: pointer;
}

html body #main #my-me-container .content .content-wrap button i {
  font-size: 50px;
}

html body #main #my-space-container {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0))), url(../images/whatWeDo/mySpaceBg.png);
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), url(../images/whatWeDo/mySpaceBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

html body #main #my-space-container .color-grid-container {
  display: -ms-grid;
  display: grid;
  position: relative;
}

html body #main #my-space-container .color-grid-container .color-grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[50];
      grid-template-columns: repeat(50);
  -ms-grid-rows: ()[50];
      grid-template-rows: repeat(50);
  top: 400px;
  left: 5%;
}

html body #main #my-space-container .color-grid-container .color-grid .color-blue {
  background-color: #0000ff;
  width: 115px;
  height: 115px;
}

html body #main #my-space-container .color-grid-container .color-grid .color-white {
  background-color: #fff;
  width: 115px;
  height: 115px;
}

html body #main #my-space-container .color-grid-container__item {
  opacity: 1;
  position: relative;
}

html body #main #my-space-container .color-grid-container .pos-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2;
}

html body #main #my-space-container .color-grid-container .pos-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
}

html body #main #my-space-container .color-grid-container .pos-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3 / 2;
}

html body #main #my-space-container .content {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 20%;
}

html body #main #my-space-container .content h2 {
  font-size: 40px;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

html body #main #my-space-container .content .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-family: YoonGothicPro770;
}

html body #main #my-space-container .content .content-wrap p {
  font-size: 28px;
}

html body #main #my-space-container .content .content-wrap button {
  width: 78px;
  height: 78px;
  cursor: pointer;
}

html body #main #my-space-container .content .content-wrap button i {
  font-size: 50px;
}

html body #main #gallery-container {
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0), black), url(../images/whatWeDo/gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

html body #main #gallery-container .txt-box {
  width: 100%;
  height: 200px;
  color: #fff;
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

html body #main #gallery-container .txt-box h2 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-bottom: 48px;
}

html body #main #gallery-container .txt-box p {
  font-size: 28px;
  font-family: YoonGothicPro770;
}

html body #main #gallery-container .img-wrap {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
}

html body #main #gallery-container .img-wrap .img-box {
  width: 50%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0), black), url(../images/whatWeDo/artSpace.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

html body #main #gallery-container .img-wrap .img-box h2 {
  position: absolute;
  top: 90px;
  right: 150px;
  font-size: 30px;
  text-transform: uppercase;
}

html body #main #gallery-container .img-wrap .img-box .modal-open {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 78px;
  height: 78px;
  cursor: pointer;
}

html body #main #gallery-container .img-wrap .img-box .modal-open i {
  font-size: 50px;
}

html body #main #gallery-container .my-gal {
  display: none;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

html body #main #gallery-container .my-gal .modal-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html body #main #gallery-container .my-gal .modal-wrap .modal-txt {
  width: 50%;
  height: 40vh;
  color: #fff;
  background-color: #0000ff;
  padding: 80px;
}

html body #main #gallery-container .my-gal .modal-wrap .modal-txt h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

html body #main #gallery-container .my-gal .modal-wrap .modal-txt p {
  font-size: 21px;
  font-family: 'Noto Sans KR', sans-serif;
}

html body #main #gallery-container .my-gal .modal-wrap .modal-img {
  width: 50%;
  height: 40vh;
}

html body #main #gallery-container .my-gal .modal-wrap .modal-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body #main #gallery-container .my-gal .close-btn {
  position: absolute;
  width: 78px;
  height: 78px;
  background: none;
  border: none;
  top: 70%;
  right: 0;
  cursor: pointer;
}

html body #main #gallery-container .my-gal .close-btn i {
  color: #fff;
  font-size: 50px;
}

html body #main #gallery-container .special-gal {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

html body #main #gallery-container .special-gal .modal-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html body #main #gallery-container .special-gal .modal-wrap .modal-txt {
  width: 50%;
  height: 40vh;
  color: #fff;
  background-color: #0000ff;
  padding: 80px;
}

html body #main #gallery-container .special-gal .modal-wrap .modal-txt h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

html body #main #gallery-container .special-gal .modal-wrap .modal-txt p {
  font-size: 21px;
  font-family: 'Noto Sans KR', sans-serif;
}

html body #main #gallery-container .special-gal .modal-wrap .modal-img {
  width: 50%;
  height: 40vh;
}

html body #main #gallery-container .special-gal .modal-wrap .modal-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body #main #gallery-container .special-gal .close-btn {
  position: absolute;
  width: 78px;
  height: 78px;
  background: none;
  border: none;
  top: 70%;
  right: 0;
  cursor: pointer;
}

html body #main #gallery-container .special-gal .close-btn i {
  color: #fff;
  font-size: 50px;
}

html body #main #gallery-container .hidden {
  display: none;
}

html body #main #world-container {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0))), url(../images/whatWeDo/world.png);
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), url(../images/whatWeDo/world.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

html body #main #world-container .color-grid-container {
  display: -ms-grid;
  display: grid;
  position: relative;
}

html body #main #world-container .color-grid-container .color-grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[50];
      grid-template-columns: repeat(50);
  -ms-grid-rows: ()[50];
      grid-template-rows: repeat(50);
  top: 400px;
  left: 5%;
}

html body #main #world-container .color-grid-container .color-grid .color-blue {
  background-color: #0000ff;
  width: 115px;
  height: 115px;
}

html body #main #world-container .color-grid-container .color-grid .color-white {
  background-color: #fff;
  width: 115px;
  height: 115px;
}

html body #main #world-container .color-grid-container__item {
  opacity: 1;
  position: relative;
}

html body #main #world-container .color-grid-container .pos-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
}

html body #main #world-container .color-grid-container .pos-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
}

html body #main #world-container .color-grid-container .pos-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3 / 2;
}

html body #main #world-container .content {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 20%;
}

html body #main #world-container .content h2 {
  font-size: 40px;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

html body #main #world-container .content .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-family: 'Noto Sans KR', sans-serif;
}

html body #main #world-container .content .content-wrap p {
  font-size: 28px;
}

html body #main #world-container .content .content-wrap button {
  width: 78px;
  height: 78px;
  cursor: pointer;
}

html body #main #world-container .content .content-wrap button i {
  font-size: 50px;
}

html body #main #market-container {
  height: 100vh;
  color: #fff;
}

html body #main #market-container {
  height: 100%;
  color: #fff;
  padding: 80px 0;
}

html body #main #market-container .market-wrap {
  width: 100%;
  margin: 0px auto;
  padding: 50px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #0000ff;
  cursor: pointer;
}

html body #main #market-container .market-wrap span {
  width: 5%;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

html body #main #market-container .market-wrap h2 {
  font-size: 30px;
  width: 30%;
  font-family: 'Poppins', sans-serif;
  display: block;
}

html body #main #market-container .market-wrap ul {
  width: 65%;
}

html body #main #market-container .market-wrap ul li {
  width: 100%;
  list-style: square;
  font-size: 21px;
  margin-bottom: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}

html body #main #market-container .market-wrap ul li h6 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

html body #main #market-container .market-wrap ul li:last-child {
  margin-bottom: 0;
}

html body #main #market-container .market-wrap p {
  font-family: 'Noto Sans KR', sans-serif;
  width: 65%;
  font-size: 21px;
}

html body #main #market-container .market-wrap .is_on {
  display: none;
}

html body #main #market-container h2:hover .market-wrap {
  background-color: #0000ff;
}

html body #main #market-container .market-wrap:last-child {
  border-bottom: 1px solid #0000ff;
}
