@charset "utf-8";


html {

    body {

        #visual {
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            max-height: 100%;
            background-image: url(../images/business/visual.jpg);
            // margin-top: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-family: 'Noto Sans KR', sans-serif;
            position: relative;

            // filter: brightness(60%);
            .visual-txt {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                // left: 200px;
                // padding: 145.5px 0 0;
                // text-align: center;
                color: #fff;
                box-sizing: border-box;

                h1 {
                    padding: 0 360px;
                    font-size: 56px;
                    box-sizing: border-box;
                    font-weight: 300;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        #main {
            #business {
                height: 100vh;
                position: relative;

                .pixel {
                    display: flex;
                    width: 360px;
                    position: relative;

                    .color-blue {
                        background-color: #0000FF;
                        display: block;
                        width: 74px;
                        height: 74px;
                        position: absolute;
                        top: 140px;
                        right: 30px;
                    }

                    .color-white {
                        background-color: #fff;
                        width: 74px;
                        height: 74px;
                        display: block;
                        position: absolute;
                        top: 214px;
                        right: 104px;
                    }
                }

                .business-txt {
                    position: absolute;
                    color: #fff;
                    height: 50vh;
                    margin-left: 360px;
                    // left: 0;
                    top: 25%;
                    transform: translateY(-25%);

                    h2 {
                        // padding-top: 100px;
                        font-size: 44px;
                        text-transform: uppercase;
                        font-family: 'Poppins', sans-serif;
                        box-sizing: border-box;
                    }


                    p {
                        font-size: 22px;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-weight: 400;
                        margin-top: 50px;
                    }
                }

                .img-box {
                    position: absolute;
                    height: 50vh;
                    width: 100vw;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center 82%;

                    }
                }
            }

            #theme {
                width: 100%;
                height: 100vh;
                background-color: #000;

                font-family: 'Poppins', sans-serif;
                position: relative;

                h2 {
                    position: absolute;
                    color: #fff;
                    // margin-top: 100px;
                    top: 10%;
                    left: 12%;
                    font-size: 56px;
                }

                // box-sizing: border-box;
                // overflow: hidden;
                .section {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    // margin-top: 30px;
                    // background-color: #121212;

                    .case-study-wrapper {
                        width: 50%;
                        position: absolute;
                        top: 55%;
                        left: 12%;
                        transform: translateY(-50%);
                        // margin-top: 80px;

                        .case-study-name {
                            a {
                                font-size: 40px;
                                line-height: 1.8;
                                font-weight: 200;
                                display: block;
                                opacity: 0.5;


                            }

                            a:hover {
                                font-weight: 700;
                                transition: all 0.3s ease;
                                opacity: 1;
                            }
                        }

                    }

                    .case-study-images {
                        width: 50%;
                        height: 100%;
                        z-index: 2;
                        position: absolute;
                        top: 0;
                        right: 0;

                        li {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            right: 0;

                            .img-hero-background {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                right: 0;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                overflow: hidden;
                                opacity: 0;
                                -webkit-transition: all 300ms linear;
                                transition: all 300ms linear;
                            }

                            .hero-number-back {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                font-size: 18vw;
                                color: rgba(255, 255, 255, 0.25);
                                transform: translate(-50%, -50%);
                                font-weight: 700;
                                z-index: 1;
                                -webkit-transition: all 300ms linear;
                                transition: all 300ms linear;
                                opacity: 0;
                                display: block;
                            }

                            .hero-number {
                                position: absolute;
                                bottom: 40px;
                                left: 50%;
                                width: 40px;
                                margin-left: -70px;
                                display: block;
                                letter-spacing: 2px;
                                text-align: center;
                                list-style: none;
                                opacity: 0;
                                font-size: 13px;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 300;
                                line-height: 1;
                                color: #fff;
                                z-index: 6;
                                -webkit-transform: translateY(100%);
                                transform: translateY(100%);
                                -webkit-transition: all 300ms linear;
                                transition: all 300ms linear;
                            }

                            .hero-number-fixed {
                                position: absolute;
                                bottom: 40px;
                                left: 50%;
                                margin-left: 30px;
                                width: 40px;
                                text-align: center;
                                display: block;
                                letter-spacing: 2px;
                                list-style: none;
                                font-size: 13px;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 300;
                                line-height: 1;
                                color: #fff;
                                z-index: 6;
                            }
                        }

                        li.show .img-hero-background {
                            opacity: 1;

                        }

                        .show .hero-number-back {
                            opacity: 1;
                        }

                        li .hero-number-fixed:before {
                            position: absolute;
                            content: '';
                            top: 50%;
                            left: -60px;
                            width: 60px;
                            height: 1px;
                            z-index: 1;
                            background-color: rgba(255, 255, 255, .4);
                        }

                        li.show .hero-number {
                            opacity: 1;
                            -webkit-transform: translateY(0);
                            transform: translateY(0);
                        }

                        li:nth-child(1) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-1.png");

                        }

                        li:nth-child(2) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-2.png");
                        }

                        li:nth-child(3) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-3.png");
                        }

                        li:nth-child(4) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-4.png");
                        }

                        li:nth-child(5) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-5.png");
                        }

                        li:nth-child(6) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-6.png");
                        }

                        li:nth-child(7) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-7.png");
                        }

                        li:nth-child(8) .img-hero-background {
                            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ourStory/grid-8.png");
                        }
                    }
                }

                .cursor,
                .cursor2,
                .cursor3 {
                    position: fixed;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                    left: -100px;
                    top: 50%;
                }

                .cursor {
                    background-color: #fff;
                    height: 0;
                    width: 0;
                    z-index: 99999;
                }

                .cursor2.hover,
                .cursor3.hover {
                    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
                    transform: scale(2) translateX(-25%) translateY(-25%);
                    border: none
                }

                .cursor2.hover {
                    background: rgba(255, 255, 255, .1);
                    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
                }
            }
        }


    }
}