@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    // scroll-behavior: smooth;

    body {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #000;
        // position: relative;

        header {
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 1000;
            padding: 0 70px;

            .logo {
                width: 120px;
                height: 53px;
                margin-top: 33.5px;

                img {
                    width: 120px;
                    height: 100%;
                }
            }

            nav {
                font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
                width: 100%;

                .gnb {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    height: 50px;
                    line-height: 50px;
                    margin-top: 35px;
                    justify-content: right;

                    li {
                        color: #fff;
                        font-size: 22px;
                        text-align: center;
                        font-weight: bold;

                        .submenu {
                            opacity: 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            li {
                                font-size: 14px;
                                text-align: center;
                                margin: 0 15px;
                                font-weight: 500;
                            }
                        }

                    }

                    // .gnb-hover:hover a {color: rgba(255, 255, 255, 0.42);}
                    .menu-hover:hover .submenu {
                        opacity: 1;
                    }


                    .submenu li:hover a {
                        color: rgba(255, 255, 255, 0.42);
                    }

                }
            }

            .language {
                display: flex;
                font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
                flex-direction: row;
                cursor: pointer;
                height: 50px;
                line-height: 50px;
                margin-top: 35px;
                margin-left: 80px;

                li {
                    color: #fff;
                    font-weight: 600;
                    font-size: 22px;
                }

                li:hover {
                    color: rgba(255, 255, 255, 0.42);
                }

                li::after {
                    content: "|";
                    font-weight: 200;
                    padding: 0 10px;
                    color: #fff;
                }

                li:last-child::after {
                    content: "";
                    padding: 0;

                }
            }
        }

        #visual {
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            max-height: 100%;
            background-image: url(../images/business/visual.jpg);
            // margin-top: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-family: 'Noto Sans KR', sans-serif;
            position: relative;

            // filter: brightness(60%);
            .visual-txt {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                // left: 200px;
                // padding: 145.5px 0 0;
                // text-align: center;
                color: #fff;
                box-sizing: border-box;

                h1 {
                    padding: 0 360px;
                    font-size: 56px;
                    box-sizing: border-box;
                    font-weight: 300;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        #main {
            #business {
                height: 100vh;
                position: relative;

                .pixel {
                    display: flex;
                    width: 360px;
                    position: relative;

                    .color-blue {
                        background-color: #0000FF;
                        display: block;
                        width: 74px;
                        height: 74px;
                        position: absolute;
                        top: 140px;
                        right: 30px;
                    }

                    .color-white {
                        background-color: #fff;
                        width: 74px;
                        height: 74px;
                        display: block;
                        position: absolute;
                        top: 214px;
                        right: 104px;
                    }
                }

                .business-txt {
                    position: absolute;
                    color: #fff;
                    height: 50vh;
                    margin-left: 360px;
                    // left: 0;
                    top: 25%;
                    transform: translateY(-25%);

                    h2 {
                        // padding-top: 100px;
                        font-size: 44px;
                        text-transform: uppercase;
                        font-family: 'Poppins', sans-serif;
                        box-sizing: border-box;
                    }


                    p {
                        font-size: 22px;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-weight: 400;
                        margin-top: 50px;
                    }
                }

                .img-box {
                    position: absolute;
                    height: 50vh;
                    width: 100vw;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center 82%;

                    }
                }
            }

            #top-btn {
                color: #fff;
                font-size: 30px;
                position: fixed;
                bottom: 5%;
                right: 3%;
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 0 16px 5px;
            }

            #top-btn:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #theme {
                width: 100%;
                height: 100vh;
                background: #000;
                overflow: hidden;
                padding: 200px;

                .cursor,
                .cursor2,
                .cursor3 {
                    position: fixed;
                    // border-radius: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    pointer-events: none;
                    left: -100px;
                    top: 50%
                }

                .cursor {
                    background-color: #fff;
                    height: 0;
                    width: 0;
                    z-index: 99999;
                }


                .cursor2.hover,
                .cursor3.hover {
                    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
                    transform: scale(2) translateX(-25%) translateY(-25%);
                    border: none
                }

                .cursor2 {
                    border: 2px solid #fff;
                    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
                }

                .cursor2.hover {
                    background: rgba(255, 255, 255, .1);
                    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
                }

                /* #Slider
                ================================================== */

                .section {
                    position: relative;
                    width: 100%;
                    display: block;
                    overflow: hidden;
                    height: 100vh;
                    background-color: #212121;
                }

                /* Case Study Showcase
                ================================================== */

                .case-study-wrapper {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 10;
                    width: auto;
                    margin: 0;
                    padding: 0;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    list-style: none;
                }

                .case-study-wrapper .case-study-name a {
                    position: relative;
                    list-style: none;
                    margin: 0;
                    display: block;
                    text-align: center;
                    padding: 0;
                    font-size: 28px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    line-height: 1.3;
                    letter-spacing: 2px;
                    color: #8e8d9a;
                    opacity: 0.5;
                    text-decoration: none;
                    -webkit-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .case-study-wrapper .case-study-name a:hover {
                    text-decoration: none;
                }

                .case-study-wrapper .case-study-name.active a {
                    opacity: 1;
                    color: #fff;
                }

                .case-study-images {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    z-index: 2;
                }

                .case-study-images li {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    list-style: none;
                    -webkit-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .case-study-images li .img-hero-background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    list-style: none;
                    opacity: 0;
                    -webkit-transform: translateY(-30px);
                    transform: translateY(-30px);
                    -webkit-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .case-study-images li.show .img-hero-background {
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }

                .case-study-images li .case-study-title {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    display: block;
                    opacity: 0;
                    color: #fff;
                    z-index: 19;
                    letter-spacing: 1px;
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;
                    -webkit-writing-mode: vertical-lr;
                    writing-mode: vertical-lr;
                    font-weight: 400;
                    line-height: 16px;
                    color: #fff;
                    font-style: italic;
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                    -webkit-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .case-study-images li.show .case-study-title {
                    opacity: 1;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                }

                .case-study-images li .hero-number-back {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    display: block;
                    list-style: none;
                    opacity: 0;
                    font-size: 18vw;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 900;
                    line-height: 1;
                    color: rgba(255, 255, 255, .12);
                    z-index: 1;
                    -webkit-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .case-study-images li .hero-number {
                    position: absolute;
                    bottom: 40px;
                    left: 50%;
                    width: 40px;
                    margin-left: -70px;
                    display: block;
                    letter-spacing: 2px;
                    text-align: center;
                    list-style: none;
                    opacity: 0;
                    font-size: 13px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    line-height: 1;
                    color: #fff;
                    z-index: 6;
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%);
                    -webkit-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .case-study-images li .hero-number-fixed {
                    position: absolute;
                    bottom: 40px;
                    left: 50%;
                    margin-left: 30px;
                    width: 40px;
                    text-align: center;
                    display: block;
                    letter-spacing: 2px;
                    list-style: none;
                    font-size: 13px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    line-height: 1;
                    color: #fff;
                    z-index: 6;
                }

                .case-study-images li .hero-number-fixed:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: -60px;
                    width: 60px;
                    height: 1px;
                    z-index: 1;
                    background-color: rgba(255, 255, 255, .4);
                }

                .case-study-images li.show .hero-number {
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }

                .case-study-images li.show .hero-number-back {
                    opacity: 1;
                }

                .dark-over-hero {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    background-color: #050505;
                    opacity: 0.2;
                }

                .case-study-images li:nth-child(1) .img-hero-background {
                    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/ourStory/grid-1.png");
                }

                .case-study-images li:nth-child(2) .img-hero-background {
                    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/ourStory/grid-2.png");
                }

                .case-study-images li:nth-child(3) .img-hero-background {
                    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/ourStory/grid-3.png");
                }

                .case-study-images li:nth-child(4) .img-hero-background {
                    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/ourStory/grid-4.png");
                }
            }
        }

        footer {
            height: 300px;
            background-color: #000;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;

            .footer-wrap {
                padding: 0 70px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                color: #fff;

                span {
                    text-transform: uppercase;
                    cursor: pointer;
                    line-height: 2;
                    margin-left: 15px;
                }

                span:hover {
                    text-decoration: underline;
                }

                i {
                    font-size: 35px;
                    color: red;

                }

                // i:hover {
                //     color: red;
                // }
            }

        }

    }
}