@charset "utf-8";

html {

    body {

        #visual {
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            max-height: 100%;
            background-image: url(../images/ourStory/visual.png);
            // margin-top: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            // font-family: 'Noto Sans KR', sans-serif;
            font-family: YoonGothicPro770;
            position: relative;

            // filter: brightness(60%);
            .visual-txt {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                // left: 200px;
                // padding: 145.5px 0 0;
                // text-align: center;
                color: #fff;
                box-sizing: border-box;

                h1 {
                    padding: 0 360px;
                    font-size: 56px;
                    box-sizing: border-box;
                    // font-weight: 300;
                    font-weight: 700;

                    // span {
                    //     font-weight: 600;
                    // }
                }
            }
        }

        #wrap {
            // position: relative;

            .grid-container {
                width: 100vw;
                display: grid;
                place-items: center;
                height: 100vh;
                overflow-x: hidden;
                overflow-y: hidden;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: normal;
                position: relative;
                max-width: 100%;
                max-height: 100%;


                h1 {
                    font-family: YoonGothicPro770;
                    // font-family: 'Noto Sans KR', sans-serif;
                    // font-weight: 400;
                    font-size: 21px;
                    text-align: center;
                }

                .title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                    color: #fff;
                }

                .image-grid {
                    pointer-events: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    // top: -5%;
                    // left: -5%;
                    display: grid;
                    grid-template-columns: repeat(50, 2%);
                    grid-template-rows: repeat(50, 2%);

                    &__item {
                        opacity: 1;
                        position: relative;
                    }

                    img {
                        will-change: transform;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // opacity: 0;
                    }
                }

                .pos-1 {
                    grid-area: 22 / 1 / 38 / 8;
                }

                .pos-2 {
                    grid-area: 1 / 21 / 17 / 30;
                }

                .pos-3 {
                    grid-area: 10 / 36 / 25 / 44;
                }

                .pos-4 {
                    grid-area: 7 / 10 / 26 / 17;
                }

                .pos-5 {
                    grid-area: 23 / 46 / 32 / 51;
                }

                .pos-6 {
                    grid-area: 34 / 12 / 51 / 19;
                }

                .pos-7 {
                    grid-area: 40 / 23 / 51 / 31;
                }

                .pos-8 {
                    grid-area: 34 / 35 / 46 / 44;
                }
            }

            #vision {
                position: relative;
                height: 100vh;
                background-image: url(../images/ourStory/vision.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: 50% 100%;

                .vision-txt {
                    position: absolute;
                    color: #fff;
                    margin-left: 200px;
                    // left: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    h2 {
                        font-size: 44px;
                        text-transform: uppercase;
                        font-family: Segma;
                        // font-family: 'Poppins', sans-serif;
                    }

                    h4 {
                        font-size: 22px;
                        margin: 50px 0;
                        font-family: YoonGothicPro770;
                        // font-family: 'Noto Sans KR', sans-serif;
                        // font-weight: 400;
                    }

                    p {
                        font-size: 22px;
                        font-family: YoonGothicPro770;
                        // font-family: 'Noto Sans KR', sans-serif;
                        // font-weight: 400;
                    }
                }
            }

            #strength {
                height: 100vh;
                position: relative;

                .strength-txt {
                    position: absolute;
                    color: #fff;
                    height: 50vh;
                    margin-left: 200px;
                    // left: 0;
                    top: 25%;
                    transform: translateY(-25%);

                    h2 {
                        // padding-top: 100px;
                        font-size: 44px;
                        text-transform: uppercase;
                        font-family: Segma;
                        // font-family: 'Poppins', sans-serif;
                        box-sizing: border-box;
                    }

                    h4 {
                        font-size: 22px;
                        margin: 30px 0;
                        font-family: YoonGothicPro770;
                        // font-family: 'Noto Sans KR', sans-serif;
                        // font-weight: 400;
                    }

                    p {
                        font-size: 22px;
                        font-family: YoonGothicPro770;
                        // font-family: 'Noto Sans KR', sans-serif;
                        // font-weight: 400;
                    }
                }

                .img-box {
                    position: absolute;
                    height: 50vh;
                    width: 100vw;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

        }

    }
}