@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    // scroll-behavior: smooth;

    body {
        font-family: Segma;
        background-color: #000;

        // position: relative;


        header {
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 1000;
            padding: 0 3vw;

            .logo {
                width: 8vw;
                height: 6vh;
                margin-top: 33.5px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            nav {
                font-family: Segma;
                // font-family: 'Poppins', sans-serif;
                // letter-spacing: 1px;
                width: 100%;
                // font-weight: 700;

                .gnb {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    height: 35px;
                    line-height: 35px;
                    margin-top: 42.5px;
                    justify-content: right;

                    li {
                        color: #fff;
                        font-size: 1.3vw;
                        text-align: center;
                        font-weight: bold;

                        a {
                            display: block;
                        }

                        .submenu {
                            opacity: 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            li {
                                font-size: 0.9vw;
                                text-align: center;
                                margin: 0 8px;
                                font-weight: 500;

                                a {
                                    display: block;
                                }
                            }
                        }

                    }

                    .gnb-hover:hover a {
                        color: rgba(255, 255, 255, 0.42);
                    }

                    .menu-hover:hover .submenu {
                        opacity: 1;
                    }

                    .submenu li:hover a {
                        color: rgba(255, 255, 255, 0.42);
                    }

                }
            }

            .language {
                display: flex;
                // font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
                flex-direction: row;
                cursor: pointer;
                height: 50px;
                line-height: 50px;
                margin-top: 35px;
                margin-left: 80px;

                li {
                    color: #fff;
                    font-weight: 600;
                    font-size: 22px;
                }

                li:hover {
                    color: rgba(255, 255, 255, 0.42);
                }

                li::after {
                    content: "|";
                    font-weight: 200;
                    padding: 0 10px;
                    color: #fff;
                }

                li:last-child::after {
                    content: "";
                    padding: 0;

                }
            }


        }

        footer {
            height: 300px;
            background-color: #000;
            font-family: Segma;
            font-size: 16px;

            .footer-wrap {
                padding: 0 70px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                color: #fff;

                span {
                    text-transform: uppercase;
                    cursor: pointer;
                    line-height: 2;
                    margin-left: 15px;
                }

                span:hover {
                    text-decoration: underline;
                }

                a {
                    width: 45px;
                    height: 31px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

            }

        }

        #top-btn {
            color: #fff;
            font-size: 30px;
            position: fixed;
            bottom: 5%;
            right: 3%;
            border: 4px solid #fff;
            border-radius: 50%;
            padding: 0 16px 5px;
            z-index: 999;
        }

        #top-btn:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}